html, body {
  overflow-x: hidden;
  width:100%;
  padding-top:35px;
  padding-bottom:20px;
  z-index:-999;
}
a {
  color:white;
  text-decoration:none;
}
hr {
  margin-top:0px;
  margin-bottom:0px;
}
 #myVideo {
  position: fixed;
  background-color: #000;
  right: 0;
  top:0;
  min-width: 100%;
  min-height: 100%;
}
@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}
h1{
   font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
.mylogo {
  width:230px;
  height:32px;
  margin-top:11px;
}
.mylogo-2 {
  width:35px;
  height:35px;
  border-radius:50%;
}
.nav-scroller {
  position: relative;
  overflow-x: scroll;
  height: 3.8rem;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #2d2c4d;
}
.nav-scroller .nav {
  margin:-15px;
  margin-left:-5px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  z-index:-100002;
  -webkit-overflow-scrolling: touch;
}
.navbar {
  background-color: #2d2c4d;
  height: 55px;
}
.navbar-brand {
  color:white;
  margin-left:3px;
  margin-top:-3px;
}
.cariBokep {
  margin-right:13px;
  margin-top:16px;
}
.tombol {
  color:white;
  margin: 20px;
  padding:5px;
  background-color: #2d2c4d;
  text-align: center;
  width: 33.33%;
  float:left;
  border-radius:20px;
}
.judul-awal {
  background:#212529;
  padding:10px;
  color:white;
  text-align: center;
  font-size:18pt;
  border-radius:10px;
}
.disabled {
  opacity: .4;
  cursor: auto;
}
#judul {
  padding-top:10px;
  font-size:16pt;
  width:100%;
}
#judul-cersex {
  margin-bottom:7px;
  margin-top:4px;
  margin-left:10px;
  overflow: hidden;
  font-size:16pt;
  font-weight:400;
}
.fa-download {
  font-size:16pt;
  color:#2d2c4d;
}
.menupage {
  margin-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}
.menu-desah {
  margin:10px;
  padding:10px;
}
#adblockbyspider {
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.25);
    padding: 20px 19px;
    border: 1px solid #ebeced;
    border-radius: 10px;
    color: #ebeced;
    overflow: hidden;
    position: fixed;
    margin: auto;
    left: 10;
    right: 10;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 999999
}
#adblockbyspider .inner {
    background: #f5f2f2;
    color: #000;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
    padding: 40px;
    margin: 80px auto
}
#adblockbyspider button {
    padding: 10px 20px;
    border: 0;
    background: #e9e9e9;
    margin: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all .2s
}
#adblockbyspider button.active {
    background: #fff
}
#adblockbyspider .tutorial {
    background: #fff;
    text-align: left;
    color: #000;
    padding: 20px;
    height: 250px;
    overflow: auto;
    line-height: 30px
}
#adblockbyspider .tutorial div {
    display: none
}
#adblockbyspider .tutorial div.active {
    display: block
}
#adblockbyspider ol {
    margin-left: 20px
}
@media(max-width:680px) {
    #adblockbyspider .inner {
        width: calc(100% - 80px);
        margin: auto
    }
}

#tombol {
  margin-bottom:-10px;
  margin-top: 10px;
  border-radius: 7px;
  width:100px;
  background-color: #2d2c4d;
}

#goTop {
  display: inline-block;
  background-color: #2d2c4d;
  color:white;
  width: 50px;
  height: 50px;
  text-align: center;a
  border-radius: 4px;
  position: fixed;
  bottom: 80px;
  right: 20px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index:1;
  border-radius: 50%;
}
#goTop::after {
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  line-height: 50px;
  color: #fff;
}
#goTop:hover {
  cursor: pointer;
  background-color: #333;
}
#goTop:active {
  background-color: #555;
}
#goTop.show {
  opacity: 1;
  visibility: visible;
}

#list-cerita {
  width: 100%;
  list-style: none;
  display: grid;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-template-rows: 175px auto;
  grid-template-columns: 50% auto;
  grid-row-gap: 20px;
  grid-column-gap: 10px; 
}

.tombol-cersex {
  color:white;
  width: 43%;
  background: #2d2c4d;
  border-radius:20px;
  padding:5px;
}

.float{
	position:fixed;
	z-index: 1;
	width:50px;
	height:50px;
	bottom:80px;
	right:20px;
	background-color:#2d2c4d;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:13px;
	font-size:18pt;
}
.donasi{
	position:fixed;
	z-index: 999;
	width:50px;
	height:50px;
	bottom:85px;
	right:20px;
	background-color:#2d2c4d;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.ads{
	position:fixed;
	z-index: 999;
}

.my-donasi{
	margin-top:13px;
	font-size:18pt;
}

#judul-apk {
  height:40px;
  width:100%;
  margin-bottom:7px;
  margin-top:6px;
  overflow: hidden;
  text-align: center;
  font-size:16pt;
  font-style:bold;
  text-overflow: ellipsis;
  display: -webkit-box;
     -webkit-line-clamp: 2;
             line-clamp: 2; 
     -webkit-box-orient: vertical;
}

#judul-bokep {
  height:45px;
  width:100%;
  margin-bottom:7px;
  margin-top:6px;
  overflow: hidden;
  font-size:14pt;
  font-style:bold;
  text-overflow: ellipsis;
  display: -webkit-box;
     -webkit-line-clamp: 2;
             line-clamp: 2; 
     -webkit-box-orient: vertical;
}
.judul-cersex {
  height:40px;
  color:black;
  margin-top:6px;
  margin-left:0px;
  overflow: hidden;
  font-size:11pt;
  font-style: bold;
  text-align: left;
  text-transform: capitalize;
  text-overflow: ellipsis;
  display: -webkit-box;
     -webkit-line-clamp: 2;
             line-clamp: 2; 
     -webkit-box-orient: vertical;
}

#konten {
  width: 100%;
  height: 100%;
  padding-top: 3px;
  padding-left: 60px;
  margin-bottom: 15px;
  padding-right: 0px;
}

#poster {
  background-color: black;
  border-radius: 10px;
}

video::-webkit-media-controls-mute-button {
display: none !important;
opacity: 1 !important;}

video::-webkit-media-controls-timeline {
display: none !important;
opacity: 1 !important;}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
  opacity: 1 !important;
}

video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}

#searchText {
  font-size: 17px;
  border: 1px solid #ddd;
  background: #E9EEF0;
  border: 1px solid #D5D9DB;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 15px 10px;
  background-size: 18px 18px;
  width: 85vw;
  border-radius: 5px;
  padding: .5em .3em .3em 2.5em;
} 
#searchText::placeholder{
  color: #838D99;
}
#searchText:focus {
  outline: none;
  background-color: #FFF;
  border: 1px solid #84A2FA;
}
#output {
  padding: 10px;
  margin-top: 0px;
  color:white;
  text-align: center;
}
.modal-header {
  height:53px;
}
.modal {
  z-index: 9999;
}
.fa-home {
  color: white;
  font-size: 16pt;
}

#myModal {
  margin-top:-30px;
}
.full-width-image h1 {
  color: #000;
  font-size: 100%;
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  width:100%;
  text-align: center;
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {  
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}
.grid-apk {
  width: 100%;
  list-style: none;
  display: grid;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-template-rows: auto;
  grid-template-columns: 31.66% 31.66% 31.66%;
  grid-row-gap: 10px;
  grid-column-gap: 10px; 
}
@media (max-width: 1024px) {
  .grid-apk {
    grid-template-rows: auto;
    grid-column-gap: 10px; 
  }
  #judul-apk {
    height:40px;
    width:100%;
    margin-bottom:7px;
    margin-top:5px;
    overflow: hidden;
    text-align: center;
    font-size:11pt;
    font-style:bold;
    text-overflow: ellipsis;
    display: -webkit-box;
       -webkit-line-clamp: 2;
               line-clamp: 2; 
       -webkit-box-orient: vertical;
  }
}

.grid-bokep {
  width: 100%;
  list-style: none;
  display: grid;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-template-rows: auto;
  grid-template-columns: 48.66% 48.66%;
  grid-row-gap: 0px;
  grid-column-gap: 10px; 
}
@media (max-width: 1024px) {
  .grid-bokep {
    grid-template-rows: auto;
    grid-template-columns: 48.66% 48.66%;
    grid-row-gap: 10px;
    grid-column-gap: 10px; 
  }
  #judul-bokep {
    height:40px;
    width:100%;
    margin-bottom:7px;
    margin-top:5px;
    overflow: hidden;
    font-size:12pt;
    font-style:bold;
    text-overflow: ellipsis;
    display: -webkit-box;
       -webkit-line-clamp: 2;
               line-clamp: 2; 
       -webkit-box-orient: vertical;
  }
}      
.sub-menu {
  float: left;
  display: block;
  text-align: center;
}

.sub-menu .menu-title {
  display: block;
  margin-top:5px;
  font-size:6pt;
}
.fixed-top {
  z-index:1;
}
.fixed-bottom {
  z-index:1;
}

#socialarea {
  position: fixed;
  left: 0;
  bottom: 8%;
  width: 40px;
  z-index: 9999;
}

#socialarea:hover {
  cursor: pointer;
}

#socialarea ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#socialarea li {
  text-align: center;
  width: 100%;
}

#socialarea li a {
  line-height: 40px;
  color: white;
}

#socialarea .facebook_social {
  background-color: #3a579a;
  transition: 400ms;
}

#socialarea .facebook_social:hover {
  background-color: #2b4071;
}

#socialarea .twitter_social {
  background-color: #00abf0;
  transition: 400ms;
}

#socialarea .twitter_social:hover {
  background-color: #0184b9;
}

#socialarea .pinterest_social {
  background-color: #cd1c1f;
  transition: 400ms;
}

#socialarea .pinterest_social:hover {
  background-color: #b0171a;
}

#socialarea .whatsapp_social {
  background-color: green;
  transition: 400ms;
}

#socialarea .whatsapp_social:hover {
  background-color: #b0171a;
}

#socialarea .telegram_social {
  background-color: #127bb6;
  transition: 400ms;
}

#socialarea .telegram_social:hover {
  background-color: #0c5680;
}

.arrow_social {
  opacity: 0;
  color: white;
  transition: 400ms;
}

.arrow_social:hover {
  color: white;
}

.btnopenclose {
  background-color: rgba(0, 0, 0, 0.6);
  width: 20px !important;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  opacity: 0;
  transition: 400ms;
}

#socialarea:hover .arrow_social,
#socialarea:hover .btnopenclose {
  opacity: 1;
}

.remove {
  left: -35px !important;
  position: relative;
  transition: 400ms;
}

.as_selected {
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(180deg);
  opacity: 1;
  margin: initial;
}

.as_selected .arrow_social {
  opacity: 1;
  left: 0px;
  position: relative;
  color: white;
}